<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top: 70px; padding-bottom: 20px;">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/media/js/jquery-1.9.1.min.js"></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Олимпиады</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            {% if api_user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Действия <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/register_account">Создать аккаунт</a></li>
		<li class="divider"></li>
                <li><a href="/persons">Список персон</a></li>
		<li><a href="/register_person">Создать персону</a></li>
		<li class="divider"></li>
		<li><a href="/schools">Школы</a></li>
		<li><a href="/add_school">Добавить школу</a></li>
                <li><a href="/school_types">Типы школ</a></li>
                <li><a href="/add_school_type">Добавить тип школы</a></li>
		<li class="divider"></li>
                <li><a href="/cities">Города</a></li>
		<li><a href="/add_city">Добавить город</a></li>
                <li><a href="/city_types">Типы городов</a></li>
                <li><a href="/add_city_type">Добавить тип города</a></li>
		<li class="divider"></li>
                <li><a href="/criteria_titles">Критерии</a></li>
                <li><a href="/add_criteria_title">Добавить критерий</a></li>
		<li class="divider"></li>
                <li><a href="/competitions">Соревнования</a></li>
                <li><a href="/start_competition">Начать соревнование</a></li>
		<li><a href="/add_role">Добавить роль в соревновании</a></li>
              </ul>
            </li>
            {% endif %}
            <li>
              {% if api_user.is_authenticated %}
              <form role="form" action="/logout" class="navbar-form" method="post">
                {% csrf_token %}
                <button class="btn" type="submit" href="#">Выйти</button>
              </form>
              {% else %}
              <a data-toggle="modal" href="#myModal">Войти <span class="glyphicon glyphicon-log-in"></span></a>
              {% endif %}
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    {% include 'common/modals/signin.html' %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="container">
        {% block content %} 
        {% endblock %}
        </div>
      </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/common.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
