{% extends 'common/base.html' %}
{% block content %}
<h1>Соревнования</h1>
<div class="panel-group" id="accordion">
{% for competition in competitions %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ competition.id }}">{{ competition.year }}</a>
      </h2>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
  
	<table class="table table-hover">
	  <thead>
	    <th>Фамилия</th>
	    <th>Имя</th>
	    <th>Отчество</th>
	  </thead>
	  <tbody>
	    {% for participant in participants %}
	    <tr>
	      <td>{{ participant.name }}</td>
	      <td>{{ participant.surname }}</td>
	      <td>{{ participant.second_name }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
