{% extends 'common/base.html' %}
{% block title %}Система управления олимпиадами{% endblock %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Система управления олимпиадами</h1>
        <p>Курсовая работа представляет собой web систему управления олимпиадами для кафедры ИУ7</p>
        <p><a class="btn btn-primary btn-lg" href="/about">Узнать больше &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Архитектура системы</h2>
          <p>Система состоит из frontend и backend. Они завимодействуют друг с другом с помощью разработанного протокола.</p>
          <p><a class="btn btn-default" href="#">Изучить детали &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Авторизация</h2>
          <p>Система поддерживает авторизацию аккаунтов</p>
          <p><a class="btn btn-default" href="#">Изучить детали &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Журналирование</h2>
          <p>Система журналирует каждое событие в системе</p>
          <p><a class="btn btn-default" href="#">Изучить детали &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->
{% endblock %}
