{% extends 'common/base.html' %}
{% block content %}
<h1>Список зарегистрированных персон</h1>
<table class="table table-hover">
  <thead>
    <th>Email</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>Доп. информация</th>
  </thead>
  <tbody>
    {% for person in persons %}
    <tr>
    <td>{{ person.email }}</td>
    <td>{{ person.first_name }}</td>
    <td>{{ person.surname }}</td>
    <td>{{ person.second_name }}</td>
    <td>{{ person.address }}</td>
    <td>{{ person.phone }}</td>
    <td>{{ person.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button type="button" class="btn btn-primary" onClick="window.location='/register_person'">Добавить персону</button>
{% endblock %}
