<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Аутентификация</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method="post" action="http://olimp-manager.com/login">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Логин</label>
            <div class="col-lg-10">
              <input type="text" name="login" class="form-control" id="inputLogin" placeholder="Логин">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Пароль</label>
            <div class="col-lg-10">
              <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Пароль">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-5">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Запомнить меня
                </label>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="checkbox">
                <label>
                  <a class="pull-right" href="/register_account">Не зарегистрированы?</a>
                </label>
              </div>
            </div>
         
          </div>
          <div class="form-group">
             <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-primary">Войти</button>
            </div>
         </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
